html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #5057ad, #40c5b3);
    background-attachment: fixed;
}

h1, h4 {
    color: white;
}

.navbar-static-top {
    z-index: 100;
}

.nav.navbar-nav li:hover {
    background-color: lightblue;
}

#MP-Checkout-dialog {
    box-sizing: initial;
}

/*img {
    width: 190px;
    height: 240px;
    border: 6px solid #f0eeed;
}*/
